@model System.Data.DataTable

@{
    ViewData["Title"] = "List of Cars";
}

<div class="jumbotron">
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>



<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
             Brand  
            </th>
            <th>
             Model 
            </th>
            <th>
              YearProduction
            </th>
            <th>
             Price
            </th>
            <th>
                <a asp-action="Create">Actions</a>
            </th>
        </tr>
    </thead>
    <tbody>
       
        <button class="border-dark m-md-2">
            <a asp-action="AddOrEdit">Add new Car</a>
        </button>
       @for(int i=0; i<Model.Rows.Count; i++) 
        {
        <tr>
            <td>
               @Model.Rows[i]["Brand"]
            </td>
            <td>
                @Model.Rows[i]["Model"]
            </td>
            <td>
                @Model.Rows[i]["YearProduction"]
            </td>
            <td>
                @Model.Rows[i]["Price"]
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@Model.Rows[i]["Id"]">Edit</a> |
                <a asp-action="Delete" asp-route-id="@Model.Rows[i]["Id"]">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
